[submodule "wl-ld-lilium/ld-so-impl"]
	path = wl-ld-lilium/ld-so-impl
	url = https://github.com/LiliumOS/ld-so-impl.git
[submodule "pooled-alloc"]
	path = pooled-alloc
	url = https://github.com/LiliumOS/pooled-alloc.git
